
.dark-mode .project .portfolio-item {
  background-color: transparent !important;
  border: 2px solid #2c2c6c !important;
  backdrop-filter: blur(10px) !important;
}

.dark-mode button {
  background-color: rgba(0, 0, 0, 0.247) !important;
  color: #fff !important;
}

.dark-mode{
    background-color: rgba(0, 0, 0, 0.911) !important;
}

.dark-mode .btn {
  background-color: transparent !important;
  color: #fff !important;
}
.dark-mode .icon {
  color: #fff !important;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #fff !important;
}
.dark-mode footer {
  background-color: rgba(0, 0, 0, 0.247) !important;
}

.dark-mode .contact a {
  background-color: rgba(0, 0, 0, 0.247) !important;
}

.dark-mode .dark-button {
  background-color: transparent !important;
}

.dark-mode .card-skill .icon {
  background-color: rgba(0, 0, 0, 0.247) !important;
}





.dark-button{
    padding: 3px 4px;
    background-color: transparent;
    position: fixed;
    top: 14px;
    right: 80px;
    display: none;
    border: none;
}

.icon{
    font-size: 20px;
    color:#fff
}

@media (max-width: 800px) {
    .dark-button{
        display: block;
        right: 120px;
    }
}


@media (max-width: 600px) {
    .dark-button{
        display: block;
        right: 80px;
    }
}

