

.modal{
    
    width: 100%;
    
    
}


.modal-content{
    background-color: rgba(0, 0, 0, 0.325);
    /* border: 1px solid var(--color-bg-veriant); */
    padding: 10px;
    border-radius: 10px;
    color: green;
    text-align: center;
    
}
.modal-content h1{
    font-size: 20px;
}


@media (max-width: 600px) {
    
    .modal-content h1{

        font-size: 14px;
    }

    .modal-content{
    padding: 7px;
    
}
}
